.DS_Store
__pycache__/
*.pyc

.vscode/

.env

.terraform/
terraform.tfstate
terraform.tfstate.backup
*.tfvars
crash.log
.terraform.lock.hcl
override.tf
override.tf.json

# Go binaries
backend/cloud-dashboard-backend
